<h3>

   <div class="pull-right">

   </div>

   Inicio
   <small>{{ 'dashboard.WELCOME' | translate:{ appName: app.name } }} !</small>
</h3>

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Nuestra Visión</h4>
            </div>
            <div class="panel-body">
                
                <p>Ser una empresa líder especializada en la prestación y distribución de productos farmacéuticos dándole las más alta prioridad al servicio y a la calidad de la distribución de dichos productos.</p>
                
                <p>Para que todos los Colombianos tengan un acceso a los diferentes medicamentos y se les ofrezca un servicio eficiente, oportuno y de buena calidad.</p>
                
                <p>Para lograr lo anterior nuestra organización atenderá seis días a la semana, buscaremos los medios de transporte más económicos, mejoraremos la comunicación, implementara tecnología, tendremos personal calificado, brindaremos asesoría sobre los medicamentos.</p>
                        
            </div>
        </div>        
    </div>
</div>


<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Nuestra Misión</h4>
            </div>
            <div class="panel-body">
                
                <p>Somos calidad, seguridad y economía en la salud, porque le ofrecemos a nuestros clientes prevención con los productos farmacéuticos y cosmetología de excelente calidad, proporcionando precios competitivos, agilidad en el servicio personalizado en el despacho fiel de sus formulas.</p>
                
                <p>Nos comprometemos con el bienestar de nuestros trabajadores para mejorar la calidad de vida de cada uno de los que laboramos en la compañía.</p>
                        
            </div>
        </div>        
    </div>
</div>